(edif SCHEMATIC1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 2015 06 26 18 34 04)
   (program "CAPTURE.EXE" (Version "16.6.0.d001 - D"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "Friday, June 26, 2015")
  (comment "C:\USERS\GOLDERBERGLAB\DOCUMENTS\BOARDSSCHEMATICS\RIOBREAKOUT\BREAKOUT.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell CON15
   (cellType generic)
   (comment "From OrCAD library CONNECTOR.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port &1 (direction INOUT))
     (port &2 (direction INOUT))
     (port &3 (direction INOUT))
     (port &4 (direction INOUT))
     (port &5 (direction INOUT))
     (port &6 (direction INOUT))
     (port &7 (direction INOUT))
     (port &8 (direction INOUT))
     (port &9 (direction INOUT))
     (port &10 (direction INOUT))
     (port &11 (direction INOUT))
     (port &12 (direction INOUT))
     (port &13 (direction INOUT))
     (port &14 (direction INOUT))
     (port &15 (direction INOUT)))))
  (cell (rename CONN_PCB_25x2 "CONN PCB 25x2")
   (cellType generic)
   (comment "From OrCAD library CONNECTOR.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port &1 (direction INOUT))
     (port &3 (direction INOUT))
     (port &5 (direction INOUT))
     (port &7 (direction INOUT))
     (port &9 (direction INOUT))
     (port &11 (direction INOUT))
     (port &13 (direction INOUT))
     (port &15 (direction INOUT))
     (port &17 (direction INOUT))
     (port &19 (direction INOUT))
     (port &21 (direction INOUT))
     (port &23 (direction INOUT))
     (port &25 (direction INOUT))
     (port &27 (direction INOUT))
     (port &29 (direction INOUT))
     (port &31 (direction INOUT))
     (port &33 (direction INOUT))
     (port &35 (direction INOUT))
     (port &37 (direction INOUT))
     (port &39 (direction INOUT))
     (port &41 (direction INOUT))
     (port &43 (direction INOUT))
     (port &45 (direction INOUT))
     (port &47 (direction INOUT))
     (port &49 (direction INOUT))
     (port &2 (direction INOUT))
     (port &4 (direction INOUT))
     (port &6 (direction INOUT))
     (port &8 (direction INOUT))
     (port &10 (direction INOUT))
     (port &12 (direction INOUT))
     (port &14 (direction INOUT))
     (port &16 (direction INOUT))
     (port &18 (direction INOUT))
     (port &20 (direction INOUT))
     (port &22 (direction INOUT))
     (port &24 (direction INOUT))
     (port &26 (direction INOUT))
     (port &28 (direction INOUT))
     (port &30 (direction INOUT))
     (port &32 (direction INOUT))
     (port &34 (direction INOUT))
     (port &36 (direction INOUT))
     (port &38 (direction INOUT))
     (port &40 (direction INOUT))
     (port &42 (direction INOUT))
     (port &44 (direction INOUT))
     (port &46 (direction INOUT))
     (port &48 (direction INOUT))
     (port &50 (direction INOUT)))))
  (cell (rename CONN_FLEX_2 "CONN FLEX 2")
   (cellType generic)
   (comment "From OrCAD library CONNECTOR.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port &1 (direction INOUT))
     (port &2 (direction INOUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell SCHEMATIC1
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface)
    (contents
     (instance X1
      (viewRef NetlistView
       (cellRef CON15
        (libraryRef OrCAD_LIB))))
     (instance X2
      (viewRef NetlistView
       (cellRef CON15
        (libraryRef OrCAD_LIB))))
     (instance X3
      (viewRef NetlistView
       (cellRef CON15
        (libraryRef OrCAD_LIB))))
     (instance J1
      (viewRef NetlistView
       (cellRef CONN_PCB_25x2
        (libraryRef OrCAD_LIB))))
     (instance J2
      (viewRef NetlistView
       (cellRef CONN_PCB_25x2
        (libraryRef OrCAD_LIB))))
     (instance J3
      (viewRef NetlistView
       (cellRef CONN_FLEX_2
        (libraryRef OrCAD_LIB))))
     (net LEDCUE1OUT
      (joined
       (portRef &42 (instanceRef J2))))
     (net RTOUCH1OUT
      (joined
       (portRef &44 (instanceRef J2))))
     (net LTOUCH1OUT
      (joined
       (portRef &46 (instanceRef J2))))
     (net NP1OUT
      (joined
       (portRef &48 (instanceRef J2))))
     (net DISP1OUT
      (joined
       (portRef &40 (instanceRef J2))))
     (net X1OUT
      (joined
       (portRef &6 (instanceRef J1))))
     (net Y1OUT
      (joined
       (portRef &8 (instanceRef J1))))
     (net X2OUT
      (joined
       (portRef &12 (instanceRef J1))))
     (net Y2OUT
      (joined
       (portRef &14 (instanceRef J1))))
     (net X3OUT
      (joined
       (portRef &18 (instanceRef J1))))
     (net Y3OUT
      (joined
       (portRef &20 (instanceRef J1))))
     (net X4OUT
      (joined
       (portRef &3 (instanceRef J1))))
     (net Y4OUT
      (joined
       (portRef &5 (instanceRef J1))))
     (net &30VDC
      (joined
       (portRef &1 (instanceRef J3))
       (portRef &10 (instanceRef X1))
       (portRef &10 (instanceRef X2))
       (portRef &10 (instanceRef X3))
       (portRef &15 (instanceRef X2))
       (portRef &15 (instanceRef X1))
       (portRef &15 (instanceRef X3))))
     (net GND
      (joined
       (portRef &1 (instanceRef J1))
       (portRef &11 (instanceRef X1))
       (portRef &11 (instanceRef X2))
       (portRef &11 (instanceRef X3))
       (portRef &2 (instanceRef J3))
       (portRef &47 (instanceRef J2))
       (portRef &49 (instanceRef J1))
       (portRef &6 (instanceRef X1))
       (portRef &6 (instanceRef X2))
       (portRef &6 (instanceRef X3))))
     (net LTOUCH2OUT
      (joined
       (portRef &32 (instanceRef J2))))
     (net NP2OUT
      (joined
       (portRef &34 (instanceRef J2))))
     (net DISP2OUT
      (joined
       (portRef &26 (instanceRef J2))))
     (net LICK2OUT
      (joined
       (portRef &24 (instanceRef J2))))
     (net LASER1OUT
      (joined
       (portRef &36 (instanceRef J2))))
     (net RTOUCH2OUT
      (joined
       (portRef &30 (instanceRef J2))))
     (net LEDCUE2OUT
      (joined
       (portRef &28 (instanceRef J2))))
     (net LICK1OUT
      (joined
       (portRef &38 (instanceRef J2))))
     (net LASER2OUT
      (joined
       (portRef &22 (instanceRef J2))))
     (net N22118
      (joined
       (portRef &14 (instanceRef X1))))
     (net N22114
      (joined
       (portRef &13 (instanceRef X1))))
     (net X1IN
      (joined
       (portRef &2 (instanceRef X1))))
     (net Y1IN
      (joined
       (portRef &1 (instanceRef X1))))
     (net NP1IN
      (joined
       (portRef &5 (instanceRef X1))))
     (net LTOUCH1IN
      (joined
       (portRef &4 (instanceRef X1))))
     (net RTOUCH1IN
      (joined
       (portRef &3 (instanceRef X1))))
     (net LICK1IN
      (joined
       (portRef &8 (instanceRef X1))))
     (net LEDCUE1IN
      (joined
       (portRef &12 (instanceRef X1))))
     (net DISP1IN
      (joined
       (portRef &7 (instanceRef X1))))
     (net N22652
      (joined
       (portRef &13 (instanceRef X2))))
     (net N22656
      (joined
       (portRef &14 (instanceRef X2))))
     (net N23338
      (joined
       (portRef &13 (instanceRef X3))))
     (net N23342
      (joined
       (portRef &14 (instanceRef X3))))
     (net LEDCUE2IN
      (joined
       (portRef &12 (instanceRef X2))))
     (net LICK2IN
      (joined
       (portRef &8 (instanceRef X2))))
     (net DISP2IN
      (joined
       (portRef &7 (instanceRef X2))))
     (net NP2IN
      (joined
       (portRef &5 (instanceRef X2))))
     (net LTOUCH2IN
      (joined
       (portRef &4 (instanceRef X2))))
     (net RTOUCH2IN
      (joined
       (portRef &3 (instanceRef X2))))
     (net X2IN
      (joined
       (portRef &2 (instanceRef X2))))
     (net Y2IN
      (joined
       (portRef &1 (instanceRef X2))))
     (net LEDCUE3IN
      (joined
       (portRef &12 (instanceRef X3))))
     (net LICK3IN
      (joined
       (portRef &8 (instanceRef X3))))
     (net DISP3IN
      (joined
       (portRef &7 (instanceRef X3))))
     (net NP3IN
      (joined
       (portRef &5 (instanceRef X3))))
     (net LTOUCH3IN
      (joined
       (portRef &4 (instanceRef X3))))
     (net RTOUCH3IN
      (joined
       (portRef &3 (instanceRef X3))))
     (net X3IN
      (joined
       (portRef &2 (instanceRef X3))))
     (net Y3IN
      (joined
       (portRef &1 (instanceRef X3))))
     (net &5V
      (joined
       (portRef &49 (instanceRef J2))
       (portRef &50 (instanceRef J2))))
     (net NP3OUT
      (joined
       (portRef &20 (instanceRef J2))))
     (net LTOUCH3OUT
      (joined
       (portRef &18 (instanceRef J2))))
     (net RTOUCH3OUT
      (joined
       (portRef &16 (instanceRef J2))))
     (net LEDCUE3OUT
      (joined
       (portRef &14 (instanceRef J2))))
     (net DISP3OUT
      (joined
       (portRef &12 (instanceRef J2))))
     (net LICK3OUT
      (joined
       (portRef &10 (instanceRef J2))))
     (net LASER3OUT
      (joined
       (portRef &8 (instanceRef J2))))
     (net NP4OUT
      (joined
       (portRef &6 (instanceRef J2))))
     (net LTOUCH4OUT
      (joined
       (portRef &4 (instanceRef J2))))
     (net RTOUCH4OUT
      (joined
       (portRef &2 (instanceRef J2))))
     (net LEDCUE4OUT
      (joined
       (portRef &50 (instanceRef J1))))
     (net DISP4OUT
      (joined
       (portRef &48 (instanceRef J1))))
     (net LICK4OUT
      (joined
       (portRef &46 (instanceRef J1))))
     (net LASER4OUT
      (joined
       (portRef &44 (instanceRef J1))))))))
 (design SCHEMATIC1
  (cellRef SCHEMATIC1
   (libraryRef MAIN_LIB))))
